
body{
    background: linear-gradient(135deg, #2b0101 0%, #4a0404 50%, #2b0101 100%);
    color: #aaffff;
    /* This ensures the gradient covers the full height of the screen */
    min-height: 100vh;

    /* This prevents the "tiling" effect */
    background-repeat: no-repeat;
    margin: 0;
    padding-top: 10px;
}
/* book wrapper holds */
.book-wrapper{
    display: flex;
}
button{
    background-color: #7d341b;
     /* box-shadow: 0 0 10px rgba(0, 255, 102, 0.8); */
     color: #aaffff;
     border-radius: 25px;
}

.sidebar{
    display: flex;
    flex-direction: column;
    
    min-height: 300px;
    max-width: 100px;
    align-items: center;
    border-radius: 10px;
}
.sidebar-btn, #sideNext{
    width: 100%;
    margin-top: 20px;
}
.book-card, .new-book-form {
    
    height: 300px;
    width: 200px;
   
    border-radius: 10px;
   
}
.book-card *{
    margin-top: 5px;
}


/* Moves card down from flex to block */
@media(max-width: 768px) {
    .book-wrapper > *, body > *, .book-display, .new-book-form{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-inline: 5px;
    }
}

/* turn on and off form */

/* hides the form by default */
.hide{
    display: none !important; 
  
}

/* class to show it when the button is clicked */
.display {
    display: flex; 
    flex-direction: column;
    height: 300px;
    width: 90%;
    max-width: 400px;
    margin-left: 10px;
    font-weight: 700;
    font-size: large;
    justify-content: space-around;
    border-radius: 10px;
    /* This forces long strings like IDs to break and wrap to the next line */
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all; /* Extra safety for very long IDs */
    backdrop-filter: blur(8pxpx);
    background-color: rgba(255, 255, 255, 0.027);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 3px 3px 3px rgba(0,0,0,0, 0.089);
    margin-left: 10px;
    margin-top: 10px;
}
.display button{
    width: 5rem;
    border-radius: 25px;
}
.catalogue{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    height: 300px;
    width: min(200px, 90vw);
   
    
    border-radius: 10px;
}
.cat-main{
    font-size: xx-large;
    align-items: center;
    padding: 25%;
}
/* .catalogue:hover{
    border-color: aqua;
} */

/* Glass effect */
.sidebar, .book-card, .new-book-form, .catalogue, .book-card, .new-book-form {
    backdrop-filter: blur(8pxpx);
    background-color: rgba(255, 255, 255, 0.027);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 3px 3px 3px rgba(0,0,0,0, 0.089);
    margin-left: 10px;
    margin-top: 10px;
}