
body{
    background-color: #2b0101;
    color: #aaffff;
    margin: 0;
    padding-top: 25px;
    padding-left: 25px;
}
/* book wrapper holds */
.book-wrapper{
    display: flex;
}
button{
    background-color: #7d341b;
     /* box-shadow: 0 0 10px rgba(0, 255, 102, 0.8); */
     color: #aaffff;
     border-radius: 25px;
}

.sidebar{
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    min-height: 300px;
    width: 100px;
    align-items: center;
    background-color: rgba(255, 250, 250, 0.452);
    border-radius: 10px;
}
.sidebar-btn, #sideNext{
    width: 100%;
    margin-top: 20px;
}
.book-card, .new-book-form {
    border: 2px solid;
    height: 300px;
    width: 200px;
    margin-left: 20px;
    border-radius: 10px;
    background-color: rgba(255, 250, 250, 0.452);
   
}
.book-card *{
    margin-top: 5px;
}
.book-display{
    border: 2px solid;
    height: 300px;
    width: 200px;
    margin-left: 200px;
}

/* Moves card down from flex to block */
@media(max-width: 768px) {
    .book-wrapper{
        display: block;
    }
}

/* turn on and off form */

/* hides the form by default */
.hide{
    display: none !important; 
  
}

/* class to show it when the button is clicked */
.display {
    display: flex; 
    flex-direction: column;
    height: 300px;
    width: 400px;
    margin-left: 50px;
    font-weight: 700;
    font-size: large;
    justify-content: space-around;
}
.display button{
    width: 5rem;
    border-radius: 25px;
}
.catalogue{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid;
    height: 300px;
    width: 300px;
    margin-left: 20px;;
    background-color: rgba(255, 250, 250, 0.452);
    border-radius: 10px;
}
.cat-main{
    font-size: xx-large;
    align-items: center;
    padding: 25%;
}
.catalogue:hover{
    border-color: aqua;
}